<div class="card bg-warning" style="width: 392px;">

    <h5 class="card-title text-center mt-4">{{user.name}}</h5>

    <img src="./assets/simple_circle.png" class="card-img-top" alt="simple circle">
    
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex justify-content-between pl-4 pr-4">
                <span>
                    <strong>Pasatiempo:</strong>
                </span>
                <span>
                    {{user.name}}
                </span>
            </div>
            <div class="col-12 d-flex justify-content-between pl-4 pr-4">
                <span>
                    <strong>Edad:</strong>
                </span>
                <span>
                    {{user.age}}
                </span>
            </div>
        </div>

    </div>
</div>