<div class="row mb-4">
    <div class="col-md-8">
        <h2 class="title">
            Mis Pokémon
        </h2>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-outline-primary">
            <fa-icon [icon]="'edit'"></fa-icon> Editar
        </button>
    </div>
</div>
<div class="row container-pokemon mb-4 d-flex align-items-center" *ngFor="let pokemon of pokemons">
    <div class="col-sm-4 text-center">
        <div>
            <img src="{{pokemon.img}}" alt="{{pokemon.name}}" class="img-fluid" />
        </div>
        <h2 class="text-capitalize">{{pokemon.name}}</h2>
        <p>
            {{pokemon.type}}
        </p>
    </div>
    <div class="col-sm-8">
        <app-progressbar [nameOfStat]="'hp'" [valueStat]="pokemon.attributes?.hp"></app-progressbar>
        <app-progressbar [nameOfStat]="'attack'" [valueStat]="pokemon.attributes?.attack"></app-progressbar>
        <app-progressbar [nameOfStat]="'defense'" [valueStat]="pokemon.attributes?.defense"></app-progressbar>
        <app-progressbar [nameOfStat]="'special-attack'" [valueStat]="pokemon.attributes?.special_attack"></app-progressbar>
        <app-progressbar [nameOfStat]="'special-defense'" [valueStat]="pokemon.attributes?.special_defense"></app-progressbar>
        <app-progressbar [nameOfStat]="'speed'" [valueStat]="pokemon.attributes?.speed"></app-progressbar>
    </div>
</div>