<div class="row">
    <div class="col-md-12">
        <form class="ngx-form" [formGroup]="form" (submit)="onSubmit()">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon [icon]="'search'"></fa-icon>
                  </span>
                </div>
                <input 
                    type="text" 
                    class="form-control" 
                    formControlName="search" name="search" autocomplete="off"
                    placeholder="Buscar por índice, nombre..."
                    (change) = "search($event)"
                    (keyup)="cleanSearch($event)"
                />
                
                <div class="input-group-append">
                    <button 
                        class="btn btn-secondary" 
                        type="button" id="button-addon2"
                        (click)="forceClean()"
                    ><fa-icon [icon]="'minus-circle'"></fa-icon> Limpiar busqueda</button>
                </div>
            </div>
            
            <div class="text-muted">presione intro para buscar</div>
        </form>
    </div>
    <ng-container *ngIf="!isNotGetPokemon && pokemons.length > 0">
        <div class="col-md-4" *ngFor="let pokemon of pokemons">
            <div class="container-pokemon" (click)="selectedPokemon(pokemon)" [class.container-pokemon-selected]="pokemon.isSelected">
                <img [src]="pokemon.img" alt="">
                <div class="title-pokemon">
                    <span class="pr-1">{{pokemon.labelId}}</span>
                    <span class="pl-1">{{pokemon.name}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-md-12 text-center mt-5">
        
        <!-- <button
            class="btn btn-danger"
            (click)="removeAllSelected()"
        >Limpiar pokemon seleccionados</button> -->

        <button
            class="btn btn-pokemon"
            (click)="savePokemons()"
            [disabled]="pokemonsSelected.length < 3"
        >Guradar</button>

    </div>
</div>
