/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';

*, body {
    font-family: 'Poppins', sans-serif;
}

.form-group>label {
    bottom: 34px;
    left: 15px;
    position: relative;
    //background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.2s;
    pointer-events: none;
  }
  
  .form-control:focus~label {
    bottom: 55px;
  }
  
  .form-control:valid~label {
    bottom: 55px;
  }


$size-circle: 250px;
.circle {
    width: $size-circle;
    height: $size-circle;
    display: inline-block;
    background: #E7EFF5;
    border: 14px solid #FFFFFF;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.circle-content {
    height: 100%;
    .ng-fa-icon {
      display: flex;
      align-items: center;
      font-size: 4rem;
      color: #9BB8D3;
    }
}